/* General Reset for body and html */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #b0e0e6;
  width: 100%;
  height: 100%;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px; /* Add max-width to limit the width of the dashboard */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add space to the left and right */
}

.create-task-container > *,
.all-task-container > * {
  flex: 1;
  align-content: center;
}
