* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #e6f7ff, #c2e9fb);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.login-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 40px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.login-title {
  font-size: 32px;
  margin-bottom: 24px;
  color: #333;
  text-align: center;
}

.input-container {
  margin-bottom: 16px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #00bcd4;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 14px;
  color: #666;
}

.forgot-password {
  color: #00bcd4;
  text-decoration: none;
  margin-left: 5px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 25px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #00a4b0;
}

.signup-text {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.signup-text a {
  color: #00bcd4;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
