/* Button Container */
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Completed Button */
.btn-completed {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-completed:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight zoom effect on hover */
}
.status-pass {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #23a71c;
  color: white;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
